<div class="header">
    <button (click)="refreshSite()" class="discrete">
        <h3>haikaaal.vercel.app</h3>
    </button>
        <button class="discrete burger">
            <i class="material-icons">arrow_drop_down</i>
        </button>
    <div class="social">
        <p>
            <!-- Make service here -->
        </p>
        <a matTooltip="Github" href="https://github.com/Kale06" target="_blank" class="fa fa-github">
        </a>
        <a matTooltip="LinkedIn" href="https://linkedin.com/in/kaaal" target="_blank" class="fa fa-linkedin">
        </a>
        <a matTooltip="Email" href="mailto:muhammad.haikal100602@gmail.com" target="_blank" class="fa fa-envelope">
        </a>
    </div>
</div>
